header{
    display: flex;
    height: 100px;
    background: #78FBC4;
}
ul{
    display: flex;
    width: 100%;
    height: 130px;
    background: #78FBC4;
    list-style: none;
}

a{
   text-decoration:none;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 29px;
   
   color: #000000;
}

li{
    margin-right: 25px;
    padding: 40px;
}


.btn{
    position: absolute;
    width: 200px;
    height: 34px;
    background: #000000;
    border-radius: 30px;
    left: 1100px;
    top:60px;
    
}
span{
    position: absolute;
    width: 196px;
    height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: white;
}
.wrapper{
    width: 100%;
    background: #F2D9D9;
}

img{
    width: 100%;
height: 404px;
}

h1{
    width: 678px;
height: 69px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 70px;

color: #000000;
margin-left: 400px;
padding: 20px;

}

.pinkblock{
    width: 100%;
height: 243px;

background: #F2D9D9;
}

h2{
    width: 283px;
height: 29px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
margin-left: 550px;
color: #000000;
}


.li_2{
    width: 90px;
height: 58px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
text-align: center;
margin-top: 60px;
margin-left: 90px;
color: #000000;

}




.timg{
    width:277px;
    height: 286px;
}


.one{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 563px;
    background: #FA7777;
    text-align: center;
    padding-top: 20px;
   }



